[gcode_macro G32]
gcode:
    BED_MESH_CLEAR
    G28                        # Home
    #QUAD_GANTRY_LEVEL          # Level
    #G28                        # Home
    #G0 X130 Y355 Z2 F9000      # Move to brush
    #G0 X75 F750                # Move across the brush
    #G0 X130 F750               # Move across the brush
    #G28 Z                      # Home the Z now that nozzle is clean
    #G0 X175 Y175 Z10 F3600     # Return to center of bed


## Add to slicer start gcode: 
##print_start EXTRUDER={material_print_temperature_layer_0} BED={material_bed_temperature_layer_0} CHAMBER={build_volume_temperature}

[gcode_macro PRINT_START]
gcode:

  G32                            ; home all axes
  G1 Z20 F3000                   ; move nozzle away from bed


  

  #{% set target_bed = params.BED|int %}  # fetch bed temp (BED) from gcode
  #{% set target_extruder = params.EXTRUDER|int %}  # Fetch extruder temp (EXTRUDER) from gcode
  #{% set target_chamber = params.CHAMBER|default("40")|int %}  # Fetch chamber temp (CHAMBER) from gcode
  
  #BED_MESH_CLEAR                      # Clears saved bed mesh
  #G90                                 # Absolute coordinates
  #M190 S{target_bed}                  # Sets the target temp for the bed
  #M109 S150                           # Heats the nozzle to 150c
  #G28                                 # Full home (XYZ)
  #quad_gantry_level                   # Levels the buildplate via QGL
  #G28                                 # Full home (XYZ)
  #bed_mesh_calibrate                 # Starts bed mesh
  BED_MESH_PROFILE LOAD=default       # Load default bed mesh
  #M109 S{target_extruder}             # Heats the nozzle to printing temp fetched from gcode


[gcode_macro PRINT_END]
gcode:
  # safe anti-stringing move coords
  {% set th = printer.toolhead %}
  {% set x_safe = th.position.x + 20 * (1 if th.axis_maximum.x - th.position.x > 20 else -1) %}
  {% set y_safe = th.position.y + 20 * (1 if th.axis_maximum.y - th.position.y > 20 else -1) %}
  {% set z_safe = [th.position.z + 2, th.axis_maximum.z]|min %}

  SAVE_GCODE_STATE NAME=STATE_PRINT_END

  M400                                # wait for buffer to clear
  G92 E0                              # zero the extruder
  G1 E-10.0 F3600                     # retract filament
  TURN_OFF_HEATERS
  G90                                 # absolute positioning
  G0 X{x_safe} Y{y_safe} Z{z_safe} F20000                    # move nozzle to remove stringing
  G0 X{th.axis_maximum.x//2} Y{th.axis_maximum.y - 2} F3600  # park nozzle at rear
  M107                                # turn off fan
  BED_MESH_CLEAR

  RESTORE_GCODE_STATE NAME=STATE_PRINT_END


[gcode_macro PAUSE]
rename_existing: BASE_PAUSE
gcode:
    # Parameters
    {% set z = params.Z|default(10)|int %}                                     ; z hop amount
    
    {% if printer['pause_resume'].is_paused|int == 0 %}
        SET_GCODE_VARIABLE MACRO=RESUME VARIABLE=last_toolhead_x VALUE={printer.toolhead.position.x}
        SET_GCODE_VARIABLE MACRO=RESUME VARIABLE=last_toolhead_y VALUE={printer.toolhead.position.y}
        SET_GCODE_VARIABLE MACRO=RESUME VARIABLE=last_toolhead_z VALUE={printer.toolhead.position.z}
        
        SAVE_GCODE_STATE NAME=PAUSE_state
        BASE_PAUSE
        
        # Park toolhead
        {% if (printer.toolhead.position.z + z) < printer.toolhead.axis_maximum.z %}
            G91                                                                ; relative positioning
            G1 Z{z} F2400                                                      ; lift Z
        {% endif %}
        G90                                                                    ; absolute positioning
        G1 X70 Y10 F6000                   ; park front left
        
        # Retract filament (optional, uncomment to enable)
        # G91
        # G1 E-1.0 F2700
    {% endif %}

[gcode_macro RESUME]
rename_existing: BASE_RESUME
variable_last_toolhead_x: 0
variable_last_toolhead_y: 0
variable_last_toolhead_z: 0
gcode:
    # Retract/Prime (optional, uncomment to enable)
    # G91
    # G1 E1.0 F2700
    
    RESTORE_GCODE_STATE NAME=PAUSE_state MOVE=1 MOVE_SPEED=100
    BASE_RESUME